<h1 class="center-header">GitLab User Info</h1>

<img src="{{userResponseJSON.avatar_url}}">
<p>
    Name: {{userResponseJSON.name}}<br>
    Username: {{userResponseJSON.username}}<br>
    User ID: {{userResponseJSON.id}}<br>
    Email: {{userResponseJSON.email}}<br>
    Last Activity: {{userResponseJSON.last_activity_on}}<br>
</p>

<table>
    {{#if events.length }}
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Activity</th>
    </tr>
    {{#each events}}
    <tr>
        <td>{{this.created_at_date}}</td>
        <td>{{this.created_at_time}}</td>
        <td>{{this.action_name}}</td>
    </tr>
    {{/each}}
    {{else}}
    <p>No activities yet.</p>
    {{/if}}
</table>
